@import "src/config/variables";

.top-bar-main-container {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: $headerHeight;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 1px 24px 0 rgba(0,0,0,0.14);
  background: white;
  overflow: hidden;

  & a {
    max-width: 300px;
  }

  .link-container {
    text-decoration: none;

    .button {

    }
  }

  .container-advantages {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media(max-width: $mediaStep1) {
  .top-bar-main-container {
    .container-advantages {
      display: none;
    }
  }
}

@media(max-width: $mediaStep3) {
  .top-bar-main-container {
    position: relative;
    flex-direction: column;
    height: max-content;
    margin-bottom: 30px;
  }
}
